@import "tailwindcss";

@font-face {
  font-family: "Atomic";
  src: url("../src/fonts/Atomic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikXXXBold";
  src: url("../src/fonts/GraphikXXXBold.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Atomic", sans-serif;
  --font-title: "GraphikXXXBold", sans-serif;
}
